<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-label position="floating">Username </ion-label>
        <ion-input type= "text" [(ngModel)]="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type= "password" [(ngModel)]="Password"></ion-input>
  </ion-item>
</ion-list>
<div>
     <ion-button expand="block" padding color="tertiary" (click)="prosesLogin()">Sign in</ion-button>
     <ion-button expand="block" padding color="tertiary" fill="outline" (click)="formRegister()">Register</ion-button>
</div>
</ion-content>
