<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Ionic App</title>

  <base href="/" />

  <meta name="color-scheme" content="light dark" />
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="icon" type="image/png" href="assets/icon/favicon.png" />

  <!-- add to homescreen for ios -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>

<body>
  <app-root><ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item>
          <ion-label position="floating">Username </ion-label>
          <ion-input type= "text" [(ngModel)]="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type= "password" [(ngModel)]="Password"></ion-input>
    </ion-item>
  </ion-list>
  <div>
       <ion-button expand="block" padding color="tertiary" (click)="prosesLogin()">Sign in</ion-button>
       <ion-button expand="block" padding color="tertiary" fill="outline" (click)="formRegister()">Register</ion-button>
  </div>
  </ion-content>
  </app-root>
</body>

</html>
